body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0e0e0e;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #d0cece;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(111, 109, 109, 0.1);
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

footer {
    background-color: #130035;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}